@using OnlineLearningManagementSystemProject.ViewModel
@model List<StudentCourseViewModel1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.CourseCode</td>
                    <td>
                              <form method="post" asp-action="GetCoursesStudentByAdmin">
                            <input type="hidden" name="stdid" value="@ViewBag.StudentId" />
                            <input type="hidden" name="courseId" value="@course.CourseId" />
                             <button type="submit" class="btn btn-primary">Delete</button>
    </form>
                    </td>
                </tr>
        }
    </tbody>
</table>